<div class="outerCover">
<div class="wrapper">
  <div id="descr">
    <img alt="dope Image" src="../../../assets/chefCurry.png">
    <p class="content">Throughout the decades NBA has gathered many fans from all across the world. They all want to experience the thrill of emotions watching games and their favourite players...<br>
    But what is it like to eat the same way, the players do? What is in famous tacos on LeBron James's Taco Tuesdays? How Stephen Curry likes his popcorn? <br>
    For those who wonder, we come with answers to these and many, many more questions. Our delicious food will not only fill your tummy, but also bring around the atmosphere of the best basketball League in the world!</p>
  </div>
  <div id="contact">
    <img alt="dope Image" src="../../../assets/nbaLogo.png">
    <ul>
      <li>Address:4 Pennsylvania Plaza, New York, USA</li>
      <li>Postal Code: NY 10001</li>
      <li>Phone number: +1 212-465-6741</li>
      <li>Email: HallOfDishesRestaurant@gmail.com</li>
      <li class="socialLogo"><img id="fb" alt="fbLogo" src="https://img.icons8.com/ios/100/000000/facebook--v1.png"/> /hallofdishes</li>
      <li class="socialLogo"><img id="ig" alt="iglogo" src="https://img.icons8.com/carbon-copy/100/000000/instagram-new--v2.png"/> @HallOFDishez</li>
    </ul>
  </div>
  <div id="placeholderMaybeMap">
  <img alt="dope Image" src="../../../assets/LBJTacoTueasday.jpg">
  <app-map></app-map>
  </div>
</div>
</div>
