<div id="all">
<h1>NBA Hall of Dishes - online restaurant</h1>
  <nav>
    <ul>
      <li>
        <button type="button" class="menuButton"
                routerLink="/home" routerLinkActive="active"
        >HOME</button>
      </li>
      <li>
        <button type="button" class="menuButton"
                routerLink="/dishList" routerLinkActive="active"
        >MENU</button>
      </li>
      <li>
        <button type="button" class="menuButton"
                [ngStyle]="{color: '#0034FC'}"
                *ngIf="authorizeAdminView()"
                routerLink="/adminView" routerLinkActive="active"
        >ADMIN VIEW</button>
      </li>
      <li>
        <button type="button" class="menuButton"
                [ngStyle]="{color: '#E30700'}"
                *ngIf="authorizeDishManagement()"
                routerLink="/manageDishes" routerLinkActive="active"
        >MANAGE DISHES</button>
      </li>
      <li>
        <button type="button" class="menuButton"
                *ngIf="getLogInfo()"
                routerLink="/basket" routerLinkActive="active"
        >BASKET</button>
      </li>

      <li>
        <button type="button" class="menuButton"
                *ngIf="getLogInfo()"
                routerLink="/orderHist" routerLinkActive="active"
        >ORDER HISTORY</button>
      </li>

      <li>
        <button type="button" class="menuButton"
                *ngIf="!getLogInfo()"
                [ngStyle]="{backgroundColor: 'forestgreen', color: 'white'}"
                routerLink="/logIn" routerLinkActive="active"
        >LOGIN</button>
      </li>
      <li>
        <button type="button" class="menuButton"
                [ngStyle]="{backgroundColor: '#0034FC', color: 'white'}"
                *ngIf="!getLogInfo()"
                routerLink="/signUp" routerLinkActive="active"
        >SIGN-UP</button>
      </li>
      <li>
      <button class="menuNickname"
         *ngIf="getLogInfo()"
      >{{getLoggedNickname()}} </button>
      </li>
      <li>
      <button type="button" class="menuButton"
              [ngStyle]="{backgroundColor: '#E30700', color: 'white'}"
              *ngIf="getLogInfo()"
              (click)="singOut()"
              routerLink="/home" routerLinkActive="active"
      >LOGOUT</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
<!--                [hidden]="getLogInfo()"-->
