form {
  height: 35vh;
  width: auto;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 15% 20% 15% 20% 15%;

  font-size: 1vw;

  border: 0.5vw solid black;
  border-radius: 3vw;

  padding: 3%;
}

label {
  margin: 10px;
}

.errorsTable {
  grid-row: 5;
  grid-column: 1;
}

.errorsTable, #nickname, #dateOfOrder, #reviewText, #reviewName{
  margin: 2%;
}

#nickname {
  grid-row: 1;
  grid-column: 1;
}

#reviewName {
  grid-row: 2;
  grid-column: 1;
}

#reviewText {
  grid-row: 3;
  grid-column: 1;
}

#dateOfOrder {
  grid-row: 4;
  grid-column: 1/3;
}


button {
  grid-row: 6;
  grid-column: 1/3;

  width: 15vw;
  height: auto;

  background-color: rebeccapurple;
  color: white;

  font-weight: bolder;

  border-radius: 3vw;
  border: none;

  margin-top: 2%;
  padding: 0;
}
